{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="container text-center">
    <h4>Серивс по сбору вакансий</h4>
</div>

<div class="row">
    <div class="col-md-6 mx-auto">
        <h4>Настаройки</h4>
        <form method="POST" action="">{% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
        <form method="POST" action="{% url 'accounts:delete' %}">{% csrf_token %}
          <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    </div>
</div>
{% endblock %}